    body {
        margin: 0;
        padding: 0em;
        line-height: 2em;
        /* font-family: 'Open Sans', sans-serif; */
        font-family: poppins, sans-serif;
        font-size: 10pt;
        color: #686868;
        background-color: black;
    }


    .body-container {
		/* border: 2px solid green; */
	}


    .wrapper {
		/* border: 2px solid yellow; */
	}

    .topics {
        /* overflow: hidden; */
        padding: 0 18px;
		max-height: 0;
		text-align: center;
		transition: max-height 0.2s ease-out;
	}
    
    .card-container {
        background-color: transparent;
        perspective: 1500px;
    }
  
    .flip-card-inner {
        /* font-size: 1em; */
        position: relative;
        border-radius: 5px;
        width: 100%;
        /*Hard coded height of cards*/
        height: 160px;
        transition: transform .45s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
        color:#e6e6e6;
    }
  
	.card-container:hover .flip-card-inner, .card-container:active .flip-card-inner  {
		-webkit-transform: rotateY(180deg);
	}

    .card-front, .card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background: linear-gradient(45deg, rgba(106,124,141,1) 0%,   rgba(128,144,155,1) 50%, rgba(143,150,162,1) 100%);    
    }

    .card-front {
        color: black;
    }

    .card-back {
        color: white;
        -webkit-transform: rotateY(180deg);
    }
